.app {
  margin-left: auto;
  margin-right: auto;
  width: 7em;
}

.box {
  width: 445px;
  height: 300px;
  margin-top: 20px;
}

#box-content {
  height: 10em;
  position: relative;
}

#box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #000;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hex {
  color: #000;
  font-size: 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
